$neutral-lightest: #f0f0f2;
$neutral-extra-light: #e0e2e6;
$neutral-light: #c0c2c8;
$neutral-medium: #9ea0a5;
$neutral-dark: #7f8185;
$neutral-extra-dark: #5e5f63;
$neutral-darkest: #202122;

$primary-light: #0b0e3a;
$primary-medium: #060725;
$primary-dark: #020318;

$secondary-light: #ef4c84;
$secondary-medium: #d31450;
$secondary-medium-opacity: #d314500D;
$secondary-dark: #8c1038;

$accent-light: #00bfc1;
$accent-medium: #009598;
$accent-dark: #006c6e;

$background-gradient-accent-1: #eed4e1;
$background-gradient-accent-2: #c2e6e8;
$background-gradient-accent-3: #a4b2d5;
