@use "@/styles/colors" as *;

button {
  cursor: pointer;
}

.home {
  &__content {
    flex: 1;
    margin: 20px 50px;

    &__controls {
      display: flex;
      justify-content: space-between;
    }

    &__title-and-sort {
      display: flex;
      justify-content: space-between;

      .sort-container {
        display: flex;
        align-items: center;

        > span {
          color: $neutral-extra-dark;
          font-size: smaller;
          font-weight: bold;
        }
      }
    }
  }

  &__layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 40px;
    justify-content: end;
  }
}

@media (max-width: 767px) {
  .home {
    &__content {
      margin: 20px;
    }

    &__layout {
      display: flex;
      justify-content: center;
    }
  }
}
