@use "@/styles/colors" as *;

.filters-panel {
  height: fit-content;
  width: 17.5rem;
  padding: 1rem;
  background-color: $neutral-lightest;
  border: 1px solid $neutral-extra-light;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 0.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
      color: $neutral-darkest;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 0.875rem;
      font-weight: 600;
      color: $neutral-extra-dark;
      margin-top: 0.75rem;
      margin-bottom: 0.25rem;
    }
  }

  &__option {
    text-align: left;
    padding: 0.75rem 0;
    border: none;
    background: transparent;
    border-bottom: 1px solid $neutral-extra-light;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: $neutral-darkest;

    &:hover {
      color: $secondary-medium;
    }

    &--selected {
      color: $secondary-medium;
      font-weight: 700;
    }
  }

  &__apply-button {
    margin-top: 0.75rem;
    padding: 0.875rem;
    border: none;
    border-radius: 1.875rem;
    background-color: $secondary-medium;
    color: $neutral-lightest;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;

    &:hover {
      background: $secondary-dark;
    }
  }
}
