@use "../../styles/colors" as *;

header {
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $neutral-extra-light;

  > img {
    height: 30px;
    width: auto;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  header > img {
    margin-left: 20px;
  }
}
