@use "@/styles/colors" as *;

.post-details {
  display: flex;
  gap: 5rem;
  padding: 3rem;

  aside {
    display: flex;
    align-items: start;
  }

  &__article {
    flex: 1;
    min-width: 0;
    margin-right: 10rem;

    &-title {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.3;
      color: $neutral-darkest;
      margin-bottom: 1rem;
    }

    &-thumbnail {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
    }

    &-content {
      color: $neutral-darkest;
      line-height: 1.6;
      border-bottom: 2px solid $neutral-extra-light;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .post-details {
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;

    &__article {
      margin-right: 0;

      &-title {
        font-size: 2.25rem;
      }
    }
  }
}
