@use "../../styles/colors" as *;

.filter-dropdown__button {
  height: 32px;
  width: 110px;
  background: $neutral-lightest;
  border: 1px solid $secondary-medium;
  border-radius: 30px;
  color: $secondary-medium;
  padding: 12px 12px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

  img {
    width: 18px;
    margin-left: 4px;
  }

  &:hover {
    //would be 'background: $secondary-medium-opacity;'
    //following the info in the design layout, but it doesn't match the pictures
    background: #ede2e8;
  }
}
