.posts-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(19.625rem, 1fr));
  align-items: start;
}

@media (max-width: 767px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}
