@use "@/styles/colors" as *;

.sort-button {
  height: 2rem;
  width: auto;
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  color: $neutral-extra-dark;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;

  img {
    height: 1.5rem;
    width: auto;
    margin-left: 0.5rem;

    &.hover-icon {
      display: none;
    }
  }

  &:hover {
    background-color: $accent-medium;
    color: $neutral-extra-light;
    border-radius: 1.875rem;

    img {
      &.default-icon {
        display: none;
      }

      &.hover-icon {
        display: inline;
      }
    }
  }
}
