@use "@/styles/colors" as *;

.back-button {
  height: 2rem;
  width: auto;
  background: transparent;
  border: 1px solid $secondary-medium;
  border-radius: 1.875rem;
  color: $secondary-medium;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap;

  img {
    height: 1.125rem;
    width: auto;
    margin-right: 0.5rem;

    &.hover-icon {
      display: none;
    }
  }

  &:hover {
    border-color: $secondary-dark;
    color: $secondary-dark;

    img {
      &.default-icon {
        display: none;
      }

      &.hover-icon {
        display: inline;
      }
    }
  }
}
