@use "@/styles/colors" as *;

.filter-dropdown {
  position: relative;
  display: inline-block;

  &__button .secondary-button {
    width: 6.875rem;
  }

  &__menu__options {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    height: fit-content;
    width: 19.625rem;
    background: $neutral-lightest;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 10;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.08);
  }

  &__item {
    font-size: 0.875rem;
    cursor: pointer;
    color: $neutral-darkest;

    &:hover {
      color: $secondary-medium;
    }

    &--selected {
      color: $secondary-medium;
    }
  }
}
