@use "@/styles/colors" as *;

.secondary-button {
  height: 2rem;
  width: fit-content;
  background: $neutral-lightest;
  border: 1px solid $secondary-medium;
  border-radius: 1.875rem;
  color: $secondary-medium;
  padding: 0 0.75rem 0 1rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;

  img {
    width: 1.125rem;
  }

  &:hover {
    background: #ede2e8;
  }
}
