@use "@/styles/colors" as *;

.card {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid $neutral-extra-light;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    figure {
      margin: 0;

      figcaption {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    img {
      height: 12.25rem;
      width: 100%;
      object-fit: cover;
      display: block;
    }

    &__publication-date,
    &__author-lastname {
      font-size: 0.75rem;
      color: $neutral-extra-dark;
    }

    .dot {
      width: 0.3125rem;
      height: 0.3125rem;
      border-radius: 50%;
      background-color: $secondary-medium;
      display: inline-block;
      flex-shrink: 0;
    }
  }

  &__content {
    flex: 1;
    padding: 1rem;

    h3 {
      font-size: 1.25rem;
      line-height: 1.3;
      font-weight: 700;
      color: $neutral-darkest;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5;
      color: $neutral-extra-dark;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 1rem 1rem 1rem;
  }
}
