@use "@/styles/colors" as *;

.tag {
  height: 2rem;
  width: fit-content;
  background-color: $neutral-extra-light;
  color: $neutral-extra-dark;
  border-radius: 2.625rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  white-space: nowrap;
}
