@use "../../styles/colors" as *;

.tag {
  max-height: 32px;
  width: 84px;
  background-color: $neutral-extra-light;
  color: $neutral-extra-dark;
  border-radius: 42px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}
